
.img_content {
    width: 194px;
    height: 200px;
    position: relative;
    top: 660px;
    left: 60px;
    z-index: 0;
    background: linear-gradient(0deg, rgba(29,29,29,0.97) 5%, rgba(250,239,239,0) 47%);
}

 .img_content img {
    width: 170px;
    height: 204px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #0F1E29 100%);
    z-index: 999;
}


.img_content p {
    position: absolute;
    top: 150px;
    left: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    z-index: 999;
}

.img_content span {
    width: 160px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 999;

} 