/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .card_wrapper {
    width: 70%;
      /* flex-wrap: wrap; */
    position: relative;
    left: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .card_wrapper {
    width: 60%;
    /* flex-wrap: wrap; */
   position: relative;
  left: 20px;

  }
}

@media only screen and (max-width: 576px) {
  .card_wrapper {
    width: calc(50% - 10px);
    /* flex-wrap: wrap; */
    position: relative;
    left: 80px;
  }
}

.Search {
  width: 50%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center; 
  border: 1px solid black;
  padding: 6px;
}

.Search input {
  width: 70%;
  padding: 6px;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}

.Search button {
  
}

.Box {
  display: flex;
  justify-content: space-evenly;

}