 .movie_card{
    width: 90%;
    margin: 15px 0;
    display: flex;
    position: absolute;
    top: 550px;
    left: 60px;
}
.movie_card .img_card, img{
    width: 200px;
    height: 253.84px;
    border-radius: 12px;
}
.movie_card p.movie_epi{
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 129px;
    height: 21px;
}
.movie_card p.movie_des{
    font-size: 16px;
    font-weight: 600;
}
.movie_card h3.name_movie{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    width: 129px;
    height: 21px;
}
.movie_card .infomation_movie{
    line-height: 20px;
    width: 70%;
    padding: 15px 0;
}
.movie_card .infomation_movie p{
    width: 100%;
    margin: 10px 0;
}
.movie_card .infomation_movie p.movie_des{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 400;
}
 .movie_card .infomation_movie h3{
    width: 100%;
    margin-top: 0;
    font-size: 25px;
}
